# Evaluate model performance

In [ ]:
!pip install kaggle

In [1]:
!kaggle competitions download -c titanic

titanic.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
import shutil
shutil.unpack_archive('./titanic.zip', './data/')

In [3]:
!pip install ../titanicTraining

Processing c:\users\diego\documents\git\yet-another-titanic-project\titanictraining
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: pytest in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from titanic==0.1.0) (7.2.1)
Requirement already satisfied: pyyaml in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from titanic==0.1.0) (6.0)
Requirement already satisfied: pandera in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from titanic==0.1.0) (0.15.1)
Requirement already satisfied: typer in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from titanic==0.1.0) (0.4.2)
Requirement already satisfied: rich in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from titanic==0.1.0) (13.3.5)
Requirement already satisfied: scikit-learn in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from titanic==0.1.0) (1.1.0)
Requirement already satisfied: pandas in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from titanic==0.1.0) (1.5.2)
Requirement already satisfied: numpy in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from titanic==0.1.0) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandas->titanic==0.1.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandas->titanic==0.1.0) (2023.3)
Requirement already satisfied: packaging>=20.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera->titanic==0.1.0) (23.1)
Requirement already satisfied: pydantic in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera->titanic==0.1.0) (1.9.2)
Requirement already satisfied: wrapt in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera->titanic==0.1.0) (1.15.0)
Requirement already satisfied: typeguard>=3.0.2 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera->titanic==0.1.0) (4.0.0)
Requirement already satisfied: multimethod in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera->titanic==0.1.0) (1.9.1)
Requirement already satisfied: typing-inspect>=0.6.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera->titanic==0.1.0) (0.9.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pytest->titanic==0.1.0) (1.0.0)
Requirement already satisfied: tomli>=1.0.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pytest->titanic==0.1.0) (2.0.1)
Requirement already satisfied: colorama in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pytest->titanic==0.1.0) (0.4.6)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pytest->titanic==0.1.0) (1.1.1)
Requirement already satisfied: iniconfig in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pytest->titanic==0.1.0) (2.0.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pytest->titanic==0.1.0) (22.1.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from rich->titanic==0.1.0) (2.15.1)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from rich->titanic==0.1.0) (2.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from scikit-learn->titanic==0.1.0) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from scikit-learn->titanic==0.1.0) (1.10.1)
Requirement already satisfied: joblib>=1.0.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from scikit-learn->titanic==0.1.0) (1.2.0)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from typer->titanic==0.1.0) (8.1.3)
Requirement already satisfied: mdurl~=0.1 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->titanic==0.1.0) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from python-dateutil>=2.8.1->pandas->titanic==0.1.0) (1.16.0)
Requirement already satisfied: importlib-metadata>=3.6 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from typeguard>=3.0.2->pandera->titanic==0.1.0) (6.6.0)
Requirement already satisfied: typing-extensions>=4.4.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from typeguard>=3.0.2->pandera->titanic==0.1.0) (4.6.2)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from typing-inspect>=0.6.0->pandera->titanic==0.1.0) (1.0.0)
Requirement already satisfied: zipp>=0.5 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from importlib-metadata>=3.6->typeguard>=3.0.2->pandera->titanic==0.1.0) (3.15.0)
Building wheels for collected packages: titanic
  Building wheel for titanic (pyproject.toml): started
  Building wheel for titanic (pyproject.toml): finished with status 'done'
  Created wheel for titanic: filename=titanic-0.1.0-py3-none-any.whl size=18009 sha256=0240f72b520fb42819e941529a6a1630d5cb18e338dcac92ffc19c43828cef68
  Stored in directory: C:\Users\diego\AppData\Local\Temp\pip-ephem-wheel-cache-xud9lxvv\wheels\ce\38\9c\226246269778f6ca770e7504f9e68887a904451270e3e1ff9e
Successfully built titanic
Installing collected packages: titanic
  Attempting uninstall: titanic
    Found existing installation: titanic 0.0.9
    Uninstalling titanic-0.0.9:
      Successfully uninstalled titanic-0.0.9
Successfully installed titanic-0.1.0

WARNING: Ignoring invalid distribution -cipy (c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages)
    WARNING: Ignoring invalid distribution -cipy (c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages)

## Data

In [7]:
import pandas as pd

data = pd.read_csv('./data/train.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Kfold Cross Validation

In [61]:
from pipe import TitanicDataset, FeatureEnricher, DataCleaning, Trainer
import os

class ValidationPipe:
    def __init__(self, train: pd.DataFrame, test: pd.DataFrame) -> None:
        self.train = train
        self.test = test 

        self.train_path = './data/temp_train.csv'
        self.test_path = './data/temp_test.csv'
        self.train.to_csv(self.train_path, index=False)
        self.test.to_csv(self.test_path, index=False)
        self.dataset = TitanicDataset(train_path=self.train_path, test_path=self.test_path)
        self.train = self.dataset.train_data
        self.test = self.dataset.test_data

        self.cleaning = DataCleaning()
        self.train = self.cleaning.fit_transform(self.train)
        self.test = self.cleaning.transform(self.test)
        self.enricher = FeatureEnricher()
        self.train = self.enricher.fit_transform(self.train)
        self.test = self.enricher.transform(self.test)
        self.trainer = Trainer(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='sqrt',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
        self.trainer.fit(self.train.iloc[:, 1:], self.train.iloc[:, 0])
        self.close()
    def close(self):
        os.remove(self.train_path)
        os.remove(self.test_path)

In [62]:
from pipe import TrainModelPipeline
from sklearn.model_selection import RepeatedKFold
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

rkf = RepeatedKFold(n_splits=7, n_repeats=2, random_state=0)
metrics = []
for train, test in tqdm(rkf.split(data), total=7*2):
    train_data, test_data_X, test_data_y = data.iloc[train, :], data.iloc[test, :], data.iloc[test, :]['Survived']
    del test_data_X['Survived']
    vp = ValidationPipe(train_data, test_data_X)
    metrics_train = vp.trainer.evaluate(vp.train.iloc[:, 1:], vp.train.iloc[:, 0])
    metrics_test = vp.trainer.evaluate(vp.test, test_data_y)
    metrics.append({"train": metrics_train, "test": metrics_test})

100%|██████████| 14/14 [00:53<00:00,  3.83s/it]

## Example Train Metric

In [64]:
print(metrics[0]['test'][1])

              precision    recall  f1-score   support

           0       0.80      0.96      0.87        73
           1       0.93      0.67      0.78        55

    accuracy                           0.84       128
   macro avg       0.86      0.82      0.82       128
weighted avg       0.85      0.84      0.83       128