This solution is based on the following: 
https://www.kaggle.com/code/zlatankr/titanic-random-forest-82-78

In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
train = pd.read_csv(os.path.join('..', 'data','titanic', 'train.csv'))
test = pd.read_csv(os.path.join('..', 'data','titanic',  'test.csv'))

In [32]:
if 'Survived' in train.columns:
    del train['Survived']

In [33]:
train.columns

Index(['Pclass', 'Sex', 'Age', 'Fare', 'Embarked', 'Name_Len', 'Name_Title',
       'Age_Null_Flag', 'Cabin_num_(1.999, 28.667]',
       'Cabin_num_(28.667, 65.667]', 'Cabin_num_(65.667, 148.0]',
       'Cabin_Letter', 'Fam_Size', 'Ticket_Lett', 'Ticket_Len'],
      dtype='object')

In [21]:
train[['Name_Title', 'Age']]

    Name_Title        Age
0          Mr.  22.000000
1         Mrs.  38.000000
2        Miss.  26.000000
3         Mrs.  35.000000
4          Mr.  35.000000
..         ...        ...
886       Rev.  27.000000
887      Miss.  19.000000
888      Miss.  16.123188
889        Mr.  26.000000
890        Mr.  32.000000

[891 rows x 2 columns]

In [28]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore', sparse=False)
new_cols_train = enc.fit_transform(train[['Name_Title', 'Age']])

In [29]:
pd.DataFrame.from_records(new_cols_train, columns=enc.get_feature_names(['Name_Title', 'Age']))

c:\Users\diego\anaconda3\envs\tmf_env\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Name_Title_Capt.,Name_Title_Col.,Name_Title_Don.,Name_Title_Dr.,Name_Title_Jonkheer.,Name_Title_Lady.,Name_Title_Major.,Name_Title_Master.,Name_Title_Miss.,Name_Title_Mlle.,...,Age_62.0,Age_63.0,Age_64.0,Age_65.0,Age_66.0,Age_70.0,Age_70.5,Age_71.0,Age_74.0,Age_80.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
887,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
888,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
enc.get_feature_names(['Name_Title', 'Age'])

c:\Users\diego\anaconda3\envs\tmf_env\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array(['Name_Title_Capt.', 'Name_Title_Col.', 'Name_Title_Don.',
       'Name_Title_Dr.', 'Name_Title_Jonkheer.', 'Name_Title_Lady.',
       'Name_Title_Major.', 'Name_Title_Master.', 'Name_Title_Miss.',
       'Name_Title_Mlle.', 'Name_Title_Mme.', 'Name_Title_Mr.',
       'Name_Title_Mrs.', 'Name_Title_Ms.', 'Name_Title_Rev.',
       'Name_Title_Sir.', 'Name_Title_the', 'Age_0.42', 'Age_0.67',
       'Age_0.75', 'Age_0.83', 'Age_0.92', 'Age_1.0', 'Age_2.0',
       'Age_3.0', 'Age_4.0', 'Age_5.0', 'Age_5.350833333333334',
       'Age_6.0', 'Age_7.0', 'Age_8.0', 'Age_9.0', 'Age_10.0', 'Age_11.0',
       'Age_12.0', 'Age_13.0', 'Age_14.0', 'Age_14.5', 'Age_15.0',
       'Age_16.0', 'Age_16.1231884057971', 'Age_17.0', 'Age_18.0',
       'Age_19.0', 'Age_20.0', 'Age_20.5', 'Age_21.0', 'Age_22.0',
       'Age_22.390625', 'Age_23.0', 'Age_23.5', 'Age_24.0', 'Age_24.5',
       'Age_25.0', 'Age_26.0', 'Age_27.0', 'Age_28.0', 'Age_28.5',
       'Age_28.724890829694324', 'Age_29.0', 'Age_30.0', 'Age_30.5',
       'Age_31.0', 'Age_32.0', 'Age_32.5', 'Age_32.76829268292683',
       'Age_33.0', 'Age_33.515151515151516', 'Age_34.0', 'Age_34.5',
       'Age_35.0', 'Age_36.0', 'Age_36.5', 'Age_37.0', 'Age_38.0',
       'Age_39.0', 'Age_40.0', 'Age_40.5', 'Age_40.88235294117647',
       'Age_41.0', 'Age_41.58045977011494', 'Age_42.0', 'Age_43.0',
       'Age_43.75', 'Age_44.0', 'Age_45.0', 'Age_45.5', 'Age_46.0',
       'Age_47.0', 'Age_48.0', 'Age_49.0', 'Age_50.0', 'Age_51.0',
       'Age_52.0', 'Age_53.0', 'Age_54.0', 'Age_55.0', 'Age_55.5',
       'Age_56.0', 'Age_57.0', 'Age_58.0', 'Age_59.0', 'Age_60.0',
       'Age_61.0', 'Age_62.0', 'Age_63.0', 'Age_64.0', 'Age_65.0',
       'Age_66.0', 'Age_70.0', 'Age_70.5', 'Age_71.0', 'Age_74.0',
       'Age_80.0'], dtype=object)

In [54]:
train[["Name", "Pclass", "Age"]].copy()

                                                  Name  Pclass   Age
0                              Braund, Mr. Owen Harris       3  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...       1  38.0
2                               Heikkinen, Miss. Laina       3  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)       1  35.0
4                             Allen, Mr. William Henry       3  35.0
..                                                 ...     ...   ...
886                              Montvila, Rev. Juozas       2  27.0
887                       Graham, Miss. Margaret Edith       1  19.0
888           Johnston, Miss. Catherine Helen "Carrie"       3   NaN
889                              Behr, Mr. Karl Howell       1  26.0
890                                Dooley, Mr. Patrick       3  32.0

[891 rows x 3 columns]

In [48]:
type(train.groupby(['Name_Title', 'Pclass'])['Age'])

pandas.core.groupby.generic.SeriesGroupBy

In [47]:
train['Name_Title'] = train['Name'].apply(lambda x: x.split(',')[1]).apply(lambda x: x.split()[0])
train.groupby(['Name_Title', 'Pclass'])['Age'].mean()

Name_Title  Pclass
Capt.       1         70.000000
Col.        1         58.000000
Don.        1         40.000000
Dr.         1         43.750000
            2         38.500000
Jonkheer.   1         38.000000
Lady.       1         48.000000
Major.      1         48.500000
Master.     1          5.306667
            2          2.258889
            3          5.350833
Miss.       1         30.000000
            2         22.390625
            3         16.123188
Mlle.       1         24.000000
Mme.        1         24.000000
Mr.         1         41.580460
            2         32.768293
            3         28.724891
Mrs.        1         40.882353
            2         33.682927
            3         33.515152
Ms.         2         28.000000
Rev.        2         43.166667
Sir.        1         49.000000
the         1         33.000000
Name: Age, dtype: float64

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [40]:
train.isnull().sum(axis = 0)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [38]:
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [7]:
cols = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'] 

all(elem in train.columns for elem in cols)

True

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train['Survived'].groupby(train['Pclass']).mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

## Feature Engineering

In [3]:
def names(train, test):
    for i in [train, test]:
        i['Name_Len'] = i['Name'].apply(lambda x: len(x))
        i['Name_Title'] = i['Name'].apply(lambda x: x.split(',')[1]).apply(lambda x: x.split()[0])
        del i['Name']
    return train, test

def age_impute(train, test):
    for i in [train, test]:
        i['Age_Null_Flag'] = i['Age'].apply(lambda x: 1 if pd.isnull(x) else 0)
        data = train.groupby(['Name_Title', 'Pclass'])['Age']
        i['Age'] = data.transform(lambda x: x.fillna(x.mean()))
    return train, test

def fam_size(train, test):
    for i in [train, test]:
        i['Fam_Size'] = np.where((i['SibSp']+i['Parch']) == 0 , 'Solo',
                           np.where((i['SibSp']+i['Parch']) <= 3,'Nuclear', 'Big'))
        del i['SibSp']
        del i['Parch']
    return train, test

def ticket_grouped(train, test):
    for i in [train, test]:
        i['Ticket_Lett'] = i['Ticket'].apply(lambda x: str(x)[0]).astype(str)
        # i['Ticket_Lett'] = i['Ticket_Lett'].apply(lambda x: str(x))
        i['Ticket_Lett'] = np.where((i['Ticket_Lett']).isin(['1', '2', '3', 'S', 'P', 'C', 'A']), i['Ticket_Lett'],
                                   np.where((i['Ticket_Lett']).isin(['W', '4', '7', '6', 'L', '5', '8']),
                                            'Low_ticket', 'Other_ticket'))
        i['Ticket_Len'] = i['Ticket'].apply(lambda x: len(x))
        del i['Ticket']
    return train, test

def cabin(train, test):
    for i in [train, test]:
        i['Cabin_Letter'] = i['Cabin'].apply(lambda x: str(x)[0])
        del i['Cabin']
    return train, test

def cabin_num(train, test):
    for i in [train, test]:
        i['Cabin_num1'] = i['Cabin'].apply(lambda x: str(x).split(' ')[-1][1:])
        i['Cabin_num1'].replace('an', np.NaN, inplace = True)
        i['Cabin_num1'] = i['Cabin_num1'].apply(lambda x: int(x) if not pd.isnull(x) and x != '' else np.NaN)
        i['Cabin_num'] = pd.qcut(train['Cabin_num1'],3)
    train = pd.concat((train, pd.get_dummies(train['Cabin_num'], prefix = 'Cabin_num')), axis = 1)
    test = pd.concat((test, pd.get_dummies(test['Cabin_num'], prefix = 'Cabin_num')), axis = 1)
    del train['Cabin_num']
    del test['Cabin_num']
    del train['Cabin_num1']
    del test['Cabin_num1']
    return train, test

def embarked_impute(train, test):
    for i in [train, test]:
        i['Embarked'] = i['Embarked'].fillna('S')
    return train, test

def dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett', 'Cabin_Letter', 'Name_Title', 'Fam_Size']):
    for column in columns:
        train[column] = train[column].apply(lambda x: str(x))
        test[column] = test[column].apply(lambda x: str(x))
        # good_cols = [column+'_'+i for i in train[column].unique() if i in test[column].unique()]
        # enc = OneHotEncoder(handle_unknown='ignore', sparse=False)
        # enc.fit(train[['Name_Title', 'Age']])
        # train = pd.concat((train, pd.get_dummies(train[column], prefix = column)[good_cols]), axis = 1)
        # test = pd.concat((test, pd.get_dummies(test[column], prefix = column)[good_cols]), axis = 1)
        # del train[column]
        # del test[column]
    enc = OneHotEncoder(handle_unknown='ignore', sparse=False)
    enc.fit(train[columns])
    new_cols_train = enc.transform(train[columns])
    new_cols_test = enc.transform(test[columns])
    train = pd.concat((train, pd.DataFrame.from_records(new_cols_train, columns=enc.get_feature_names(columns))), axis=1)
    test = pd.concat((test, pd.DataFrame.from_records(new_cols_test, columns=enc.get_feature_names(columns))), axis=1)
    for column in columns:
        del train[column]
        del test[column]

    return train, test
    

def drop(train, test, bye = ['PassengerId']):
    for i in [train, test]:
        for z in bye:
            del i[z]
    return train, test

In [13]:
train = pd.read_csv(os.path.join('..', 'data','titanic', 'train.csv'))
test = pd.read_csv(os.path.join('..', 'data','titanic',  'test.csv'))
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = names(train, test)
train, test = age_impute(train, test)
train, test = cabin_num(train, test)
train, test = cabin(train, test)
train, test = embarked_impute(train, test)
train, test = fam_size(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = ticket_grouped(train, test)
train, test = dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = drop(train, test)

In [14]:
train

,Survived,Age,Fare,Name_Len,Age_Null_Flag,"Cabin_num_(1.999, 28.667]","Cabin_num_(28.667, 65.667]","Cabin_num_(65.667, 148.0]",Ticket_Len,Pclass_3,...,Name_Title_Mrs.,Name_Title_Miss.,Name_Title_Master.,Name_Title_Rev.,Name_Title_Dr.,Name_Title_Ms.,Name_Title_Col.,Fam_Size_Nuclear,Fam_Size_Solo,Fam_Size_Big
0,0,22.000000,7.2500,23,0,0,0,0,9,1,...,0,0,0,0,0,0,0,1,0,0
1,1,38.000000,71.2833,51,0,0,0,1,8,0,...,1,0,0,0,0,0,0,1,0,0
2,1,26.000000,7.9250,22,0,0,0,0,16,1,...,0,1,0,0,0,0,0,0,1,0
3,1,35.000000,53.1000,44,0,0,0,1,6,0,...,1,0,0,0,0,0,0,1,0,0
4,0,35.000000,8.0500,24,0,0,0,0,6,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,27.000000,13.0000,21,0,0,0,0,6,0,...,0,0,0,1,0,0,0,0,1,0
887,1,19.000000,30.0000,28,0,0,1,0,6,0,...,0,1,0,0,0,0,0,0,1,0
888,0,16.123188,23.4500,40,1,0,0,0,10,1,...,0,1,0,0,0,0,0,1,0,0
889,1,26.000000,30.0000,21,0,0,0,1,6,0,...,0,0,0,0,0,0,0,0,1,0
890,0,32.000000,7.7500,19,0,0,0,0,6,1,...,0,0,0,0,0,0,0,0,1,0

In [15]:
test

,Age,Fare,Name_Len,Age_Null_Flag,"Cabin_num_(1.999, 28.667]","Cabin_num_(28.667, 65.667]","Cabin_num_(65.667, 148.0]",Ticket_Len,Pclass_3,Pclass_1,...,Name_Title_Mrs.,Name_Title_Miss.,Name_Title_Master.,Name_Title_Rev.,Name_Title_Dr.,Name_Title_Ms.,Name_Title_Col.,Fam_Size_Nuclear,Fam_Size_Solo,Fam_Size_Big
0,22.000000,7.8292,16,0,0,0,0,6,1,0,...,0,0,0,0,0,0,0,0,1,0
1,38.000000,7.0000,32,0,0,0,1,6,1,0,...,1,0,0,0,0,0,0,1,0,0
2,26.000000,9.6875,25,0,0,0,0,6,0,0,...,0,0,0,0,0,0,0,0,1,0
3,35.000000,8.6625,16,0,0,0,1,6,1,0,...,0,0,0,0,0,0,0,0,1,0
4,35.000000,12.2875,44,0,0,0,0,7,1,0,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,32.768293,8.0500,18,1,0,0,0,9,1,0,...,0,0,0,0,0,0,0,0,1,0
414,44.000000,108.9000,28,0,0,0,0,8,0,1,...,0,0,0,0,0,0,0,0,1,0
415,33.515152,7.2500,28,0,0,0,0,18,1,0,...,0,0,0,0,0,0,0,0,1,0
416,34.000000,8.0500,19,1,0,0,0,6,1,0,...,0,0,0,0,0,0,0,0,1,0
417,18.000000,22.3583,24,1,0,0,0,4,1,0,...,0,0,1,0,0,0,0,1,0,0

In [5]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 1:], train.iloc[:, 0])
print("%.4f" % rf.oob_score_)

c:\Users\diego\anaconda3\envs\tmf_env\lib\site-packages\sklearn\ensemble\_forest.py:427: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(

0.8294

In [11]:
from sklearn.metrics import classification_report
print(classification_report(rf.predict(test.iloc[:, 1:]), test.iloc[:, 0]))

c:\Users\diego\anaconda3\envs\tmf_env\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- Age

  warnings.warn(message, FutureWarning)

ValueError: X has 43 features, but RandomForestClassifier is expecting 44 features as input.

## Feature importance

In [9]:
pd.concat((pd.DataFrame(train.iloc[:, 1:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

                  variable  importance
12              Sex_female    0.111215
11                Sex_male    0.109769
33          Name_Title_Mr.    0.109746
1                     Fare    0.088209
2                 Name_Len    0.087904
0                      Age    0.078651
8                 Pclass_3    0.043268
35        Name_Title_Miss.    0.031292
7               Ticket_Len    0.031079
34         Name_Title_Mrs.    0.028852
25          Cabin_Letter_n    0.027893
43            Fam_Size_Big    0.025199
41        Fam_Size_Nuclear    0.022704
9                 Pclass_1    0.021810
19           Ticket_Lett_1    0.017999
20           Ticket_Lett_3    0.012902
10                Pclass_2    0.012345
36      Name_Title_Master.    0.012098
23  Ticket_Lett_Low_ticket    0.011723
13              Embarked_S    0.011546

In [7]:
predictions = rf.predict(test)
predictions = pd.DataFrame(predictions, columns=['Survived'])
# test = pd.read_csv(os.path.join('data','titanic',  'test.csv'))
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions

           Age  Survived
0    22.000000         0
1    38.000000         1
2    26.000000         0
3    35.000000         0
4    35.000000         1
..         ...       ...
413  32.768293         0
414  44.000000         1
415  33.515152         0
416  34.000000         0
417  18.000000         1

[418 rows x 2 columns]

In [13]:
!pip install pandera

Collecting pandera
  Downloading pandera-0.15.1-py3-none-any.whl (152 kB)
     -------------------------------------- 152.4/152.4 kB 9.5 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera) (22.0)
Collecting typeguard>=3.0.2
  Downloading typeguard-4.0.0-py3-none-any.whl (33 kB)
Requirement already satisfied: numpy>=1.19.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera) (1.24.1)
Collecting multimethod
  Downloading multimethod-1.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: pydantic in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera) (1.9.2)
Requirement already satisfied: pandas>=1.2.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera) (1.5.2)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: wrapt in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandera) (1.15.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandas>=1.2.0->pandera) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: importlib-metadata>=3.6 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from typeguard>=3.0.2->pandera) (6.6.0)
Requirement already satisfied: typing-extensions>=4.4.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from typeguard>=3.0.2->pandera) (4.4.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from typing-inspect>=0.6.0->pandera) (1.0.0)
Requirement already satisfied: zipp>=0.5 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from importlib-metadata>=3.6->typeguard>=3.0.2->pandera) (3.15.0)
Requirement already satisfied: six>=1.5 in c:\users\diego\anaconda3\envs\tmf_env\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pandera) (1.16.0)
Installing collected packages: typing-inspect, multimethod, typeguard, pandera
Successfully installed multimethod-1.9.1 pandera-0.15.1 typeguard-4.0.0 typing-inspect-0.9.0